body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}


header{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 35px; 
  font-weight: bold;
  letter-spacing: 2px; 
  padding: 10px 30px; 
  border: 2px solid white; 
  border-radius: 10px; 
  transition: all 0.3s ease; 
}

.logo:hover {
  background-color: white; 
  color: #192730; 
}

.header-nav {
  background: linear-gradient(to bottom, #192730, #084570);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensure the logo image is responsive */
}


.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-bar input {
  padding: 3px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  padding: 3px 10px;
  background-color: #f68626;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-cart {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.account {
  margin-left: 50px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: white;
  font-size: 15px;
}
.nav-cart{
  cursor: pointer;
  color: white;
  font-size: 1px;
  transition: color 0.3s ease;
  margin-left: 20px;
  margin-top: 0px;
}
.nav-item {
  cursor: pointer;
  color: white;
  font-size: 1px;
  transition: color 0.3s ease;
  margin-left: 170px;
  margin-top: 5px;
}

.nav-item:hover {
  color: #f68626;
}

.nav-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
  margin: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.nav-item:hover .nav-icon {
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
  transform: scale(1.2); /* Example: Enlarge icon on hover */
}

.dashboard {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
  margin: 20px 20px 0;
  border-radius: 8px;
}


.user-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.dashboard div {
  background-color: #f68626;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  margin: 0 10px;
}

.dashboard div:first-child,
.dashboard div:last-child {
  margin: 0;
}

.recent-orders {
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recent-orders h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
}

td {
  background-color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.chart {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard a {
  text-decoration: none;
  color: inherit;
}