body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDB300;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #192730;
    padding: 10px 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .user-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
  }

  nav {
    background-color: #F68626;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

.nav-item {
    cursor: pointer;
}

  .dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    margin: 20px 20px 0;
    border-radius: 8px;
  }

  .dashboard div {
    background-color: #1565c0;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
  }

  .dashboard div:first-child,
  .dashboard div:last-child {
    margin: 0;
  }

  .recent-orders {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .recent-orders h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
  }

  td {
    background-color: white;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  .chart {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dashboard a {
    text-decoration: none;
    color: inherit;
}