body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffbb00, #f1e7ca);
  }
  
  
  header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 35px; 
    font-weight: bold;
    letter-spacing: 2px; 
    padding: 10px 30px; 
    border: 2px solid white; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
    color: white;
  }
  
  .logo:hover {
    background-color: white; 
    color: #192730; 
  }
  
  .header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure the logo image is responsive */
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .search-bar input {
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar button {
    padding: 3px 10px;
    background-color: #f68626;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .account-cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .account {
    margin-left: 50px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
  }
  .nav-cart{
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 20px;
    margin-top: 0px;
  }
  .nav-item {
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 170px;
    margin-top: 5px;
  }
  
  .nav-item:hover {
    color: #f68626;
  }
  
  .nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
    margin: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .nav-item:hover .nav-icon {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
    transform: scale(1.2); /* Example: Enlarge icon on hover */
  }
        .dashboard {
            display: flex;
            justify-content: space-around;
            padding: 20px;
        }
        .dashboard a{
            text-decoration: none;
        }
        .dashboard .card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            height: 400px;
            width: 500px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .dashboard .card img {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
        }
        .dashboard .card p {
            margin: 5px 0;
            font-size: 50px;
            color: rgb(0, 0, 0);
        }
        .orders {
            padding: 20px;
            background-color: #fff;
            margin-left: 65px;
            margin-right: 65px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            height: 300px;
        }
        .orders h2 {
            margin: 0 0 10px;
        }
        .orders table {
            width: 100%;
            border-collapse: collapse;
        }
        .orders table, .orders th, .orders td {
            border: 1px solid #ddd;
        }
        .orders th, .orders td {
            padding: 10px;
            text-align: left;
        }

        .user-link a {
          color: white; 
      }