body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffbb00;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
}

.logo {
  font-size: 35px; 
  font-weight: bold;
  letter-spacing: 2px; 
  padding: 10px 30px; 
  border: 2px solid white; 
  border-radius: 10px; 
  transition: all 0.3s ease; 
  color: white;
}

.logo:hover {
  background-color: white; 
  color: #192730; 
}

.header-nav {
  background: linear-gradient(to bottom, #192730, #084570);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensure the logo image is responsive */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-bar input {
  padding: 3px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  padding: 3px 10px;
  background-color: #f68626;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-cart {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.account {
  margin-left: 50px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: white;
  font-size: 15px;
}

.nav-cart{
  cursor: pointer;
  color: white;
  font-size: 1px;
  transition: color 0.3s ease;
  margin-left: 20px;
  margin-top: 0px;
}

.nav-item {
  cursor: pointer;
  color: white;
  font-size: 1px;
  transition: color 0.3s ease;
  margin-left: 170px;
  margin-top: 5px;
}

.nav-item:hover {
  color: #f68626;
}

.nav-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
  margin: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.nav-item:hover .nav-icon {
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
  transform: scale(1.2); /* Example: Enlarge icon on hover */
}

.dashboard {
  padding: 20px;
  text-align: center;
}

.dashboard .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  justify-content: center;
  font-size: 50px;
  height: 250px;
  width: 1280px;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative; /* Add this line */
}

.dashboard .card p {
  margin-top: 70px;
  margin-left: 70px;
  margin-right: -50px;
  display: inline-block;
}

.dashboard .user-icon {
  width: 250px;
  height: 250px;
  position: absolute; /* Change to absolute */
  right: 20px; /* Adjust as needed */
  top: 50%; /* Adjust as needed */
  transform: translateY(-50%); /* Center vertically */
}

.dashboard .user-icon img {
  width: 100%; 
  height: 100%;
}

.user-details {
  background-color: #263238;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  height: 100px;
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-details:last-child {
  margin-bottom: 0;
}

.tformat {
  padding: 20px;
  background-color: #fff;
  margin-left: 180px;
  margin-right: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 100%;
  justify-content: center;
  align-self: center;
  width: 1500px;
  margin-bottom: 20px;
}

.tformat h2 {
  margin: 0 0 10px;
}

.tformat table {
  width: 100%;
  border-collapse: collapse;
}

.tformat table, .tformat th, .tformat td {
  border: 1px solid #ddd;
}

.tformat th, .tformat td {
  padding: 10px;
  text-align: left;
}

.accept-button {
  background-color: lightgreen;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.decline-button {
  background-color: lightcoral;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
