body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffbb00, #f1e7ca);
  }
  
  
  header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 35px; 
    font-weight: bold;
    letter-spacing: 2px; 
    padding: 10px 30px; 
    border: 2px solid white; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
    color: white;
  }
  
  .logo:hover {
    background-color: white; 
    color: #192730; 
  }
  
  .header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure the logo image is responsive */
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .search-bar input {
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar button {
    padding: 3px 10px;
    background-color: #f68626;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .account-cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .account {
    margin-left: 50px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
  }
  .nav-cart{
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 20px;
    margin-top: 0px;
  }
  .nav-item {
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 170px;
    margin-top: 5px;
  }
  
  .nav-item:hover {
    color: #f68626;
  }
  
  .nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
    margin: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .nav-item:hover .nav-icon {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
    transform: scale(1.2); /* Example: Enlarge icon on hover */
  }

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #263238;
    border-radius: 10px;
    margin: 10px 0;
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263238;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}

.card .text, .user-details p:first-child {
    text-align: left;
    font-size: 1.8em;
}

.card .text p:first-child, .user-details p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

.card .text p:last-child, .user-details p:last-child {
    font-size: 1.5em;
}

.card .user-icon img, .user-details .user-icon img {
    width: 15em;
    height: 15em;
}

.user-details a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.user-details a:hover {
    color: #fff; 
}

.user-details p {
    margin-left: auto;
}



.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #263238;
    border-radius: 10px;
    margin: 10px 0;
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263238;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}

.card .text, .user-details p:first-child {
    text-align: left;
    font-size: 1.8em;
}

.card .text p:first-child, .user-details p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

.card .text p:last-child, .user-details p:last-child {
    font-size: 1.5em;
}

.card .user-icon img, .user-details .user-icon img {
    width: 15em;
    height: 15em;
}

.user-details a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.user-details a:hover {
    color: #fff; 
}

.user-details p {
    margin-left: auto;
}

