body {
    font-family: Arial, sans-serif;
    background-color: #FFC107;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #263238;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: white;
}
.header .logo {
    font-size: 1.5em;
}
.header .search-bar input {
    padding: 5px;
    font-size: 1em;
    margin-right: 1250px;
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header .user-info .icons{
    margin-right: 30px;
}
.header .user-info .icons img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
.dashboard {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.dashboard .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
    justify-content: center;
    font-size: 50px;
    height: 250px;
    width: 1280px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.dashboard .card p {
    margin-top: 70px;
    margin-left: 70px;
    margin-right: -50px;
    display: inline-block;
}
.dashboard .user-icon {
    width: 250px;
    height: 250px;
    /* margin-left: 1250px; */
    margin-top: -290px;
    margin-bottom: 50px;
}
.dashboard .user-icon img {
    width: 100%; 
    height: 100%;
}
.user-details {
    background-color: #263238;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1290px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 275px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.user-details p{
    text-decoration: none;
}


