body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 35px; 
    font-weight: bold;
    letter-spacing: 2px; 
    padding: 10px 30px; 
    border: 2px solid white; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
}

.logo:hover {
    background-color: white; 
    color: #192730; 
}

.header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure the logo image is responsive */
}


.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar input {
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    padding: 3px 10px;
    background-color: #f68626;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.account {
    margin-left: 50px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
}


.nav-item {
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 170px;
    margin-top: 5px;
}

.nav-item:hover {
    color: #f68626;
}

.nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
    margin: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.nav-item:hover .nav-icon {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
    transform: scale(1.2); /* Example: Enlarge icon on hover */
}

main {
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #084570, #084570);
}


.profile-container {
    display: flex;
    border-radius: 20px;
    margin: 40px auto;
    background: linear-gradient(to bottom, #084570, #ffffff);
    padding: 40px;
    margin: auto;
}

.profile-info {
    background: linear-gradient(to bottom, #ffffff, #ffbb00);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-image img {
    width: 70%;
    padding: 10px;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 10%;
}

.profile-details p {
    margin: 30px 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    
}

.profile-actions {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.purchase {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.purchase h3 {
    margin-bottom: 20px;
}

.purchase-status {
    display: flex;
    justify-content: space-between;
}

.status {
    width: 250px;
    padding: 20px;
    height: 80px;
    margin: 0 10px;
    background: linear-gradient(to bottom,  #5583a3, #ffffff);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}


.recommendations {
    background: linear-gradient(to bottom, #ffffff, #ffbb00);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recommendations h3 {
    margin-bottom: 20px;
}

.recommendation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommendation-item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.recommendation-item img {
    width: 250px; 
    height: 150px; 
    object-fit:cover ; /* keep the image aspect ratio */
    border-radius: 10px; /* add a slight border radius */
    margin-bottom: 10px; /* add some space between the image and text */
    
    transition: transform 0.3s ease, filter 0.3s ease;
}
.price {
    color: #F68626;
    font-size: 18px;
}


.sign-out-btn {
    align-self: self-end;
    background-color: #F68626;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

img{
    width: 80px;
}

.notification-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%; /* Makes it circular */
    padding: 5px;
    font-size: 12px;

  }
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
}

.nav-cart{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 20px;
    margin-top: 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}