body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 35px; 
    font-weight: bold;
    letter-spacing: 2px; 
    padding: 10px 30px; 
    border: 2px solid white; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
}

.logo:hover {
    background-color: white; 
    color: #192730; 
}

.header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure the logo image is responsive */
}


.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar input {
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    padding: 3px 10px;
    background-color: #f68626;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.account {
    margin-left: 50px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
}

.nav-item {
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 170px;
    margin-top: 5px;
}

.nav-item:hover {
    color: #f68626;
}

.nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
    margin: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.nav-item:hover .nav-icon {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
    transform: scale(1.2); /* Example: Enlarge icon on hover */
}

main {
    text-align: center;
    padding: 0;
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.deals, .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deals-text, .categories-text {
    color: #084570;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.deal-container, .category-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #ffffff, #ffbb00);
  

}
.product-name{
    text-decoration: none;
}
.deal-item{
    text-decoration: none;
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
   
}
.category-item{
    width: 160px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.deal-item:hover, .category-item:hover {
    transform: translateY(-5px);
}

.deal-item img, .category-item img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #192730;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.slideshow-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.slideshow {
    width: 70%; /* Adjust width for the large slideshow */
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd; /* Just for illustration */
}

.slideshow .slide {
    display: none; /* Hide all slides initially */
}

.slideshow .slide:first-child {
    display: block; /* Display the first slide initially */
}

.slideshow .slide img {
    width: 100%;
    height: 622px;
    display: block;
}

.medium-ads-container {
    display: flex;
    flex-direction: column;
    width: 30%; /* Adjust width for the medium ads container */
}

.medium-ad {
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd; /* Just for illustration */
}

.medium-ad .slide {
    display: none; /* Hide all slides initially */
}

.medium-ad .slide:first-child {
    display: block; /* Display the first slide initially */
}

.medium-ad .slide img {
    width: 100%;
    height: 310px;
    display: block;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .slideshow-container {
        flex-direction: column;
    }

    .slideshow, .medium-ads-container {
        width: 100%;
        margin-bottom: 20px;
    }
}


.welcomecontainer{
    background: linear-gradient(to bottom, #ffffff, #ffbb00);
    width: 100%;
    max-width: 1600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 625px;
}
.view-all{
    margin-left: 0px;
    align-self: baseline;
}

.notification-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%; /* Makes it circular */
    padding: 5px;
    font-size: 12px;

  }
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
}

.nav-cart{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 20px;
    margin-top: 0px;
}
