body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
  }
  
  header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  header {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .logo:hover {
    background-color: white;
    color: #192730;
  }
  
  .header-nav {
    background: linear-gradient(to bottom, #192730, #084570);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Ensure the logo image is responsive */
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .search-bar input {
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar button {
    padding: 3px 10px;
    background-color: #f68626;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .account-cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .account {
    margin-left: 50px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
    font-size: 15px;
  }

  
  .nav-item {
    cursor: pointer;
    color: white;
    font-size: 1px;
    transition: color 0.3s ease;
    margin-left: 170px;
    margin-top: 5px;
  }
  .form{
    margin-left: 20px;
  }
  .nav-item:hover {
    color: #f68626;
  }
  
  .nav-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
    margin: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .nav-item:hover .nav-icon {
    filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(90deg);
    transform: scale(1.2);
    /* Example: Enlarge icon on hover */
  }
  
  
  h1 {
    background: linear-gradient(to bottom, #084570, #084570);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 200px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }
  
  .cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom,  #ffffff, #f8dea0);
    padding: 20px;
    border-radius: 5px;
  }
  
  .cart-items {
    flex-basis: 75%;
  }
  
  .cart-summary {
    flex-basis: 25%;
    background: linear-gradient(to bottom,  #ffffff, #dfdfdf);
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex: 2;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  
  .cart-item-quantity button {
    background-color: #F68626;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .cart-item-quantity input {
    width: 40px;
    text-align: center;
  }
  
  .cart-item-total {
    margin-left: auto;
  }
  
  .cart-summary h2 {
    margin-bottom: 20px;
    color: #084570;
  }
  
  .cart-summary .total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f68626;
  }
  
  .cart-summary button {
    width: 100%;
    padding: 10px;
    background-color: #f68626;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart-summary button:hover {
    background-color: #e67523;
  }
  
  footer {
    background-color: #192730;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-text {
    margin: 0;
  }
  .post{
    margin-right: 10px;
  }
  .remove{
    margin-right: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

th {
    background-color: #084570;
    color: white;
}

tr {
    background-color: #f4f4f4;
}


.notification-number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%; /* Makes it circular */
  padding: 5px;
  font-size: 12px;

}
nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
  color: white;
  font-size: 15px;
}

.nav-cart{
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 1px;
  transition: color 0.3s ease;
  margin-left: 20px;
  margin-top: 0px;
}
